* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
@import url("../css/about.css");
section {
  padding: 100px 0 89px 0;
  width: 100%;
}
.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.card-title {
  margin-bottom: 25px;
  font-size: 36px;
  text-align: center;
}
.line {
  width: 64px;
  border-bottom: 2px solid #d98943;
  margin: 0 auto 30px auto;
}
.desription {
  color: #86878b;
  font-size: 14px;
  text-align: center;
  /* display: flex;
  justify-content: center;*/
  margin: 0 auto 67px auto;
}
.blok {
  text-align: center;
}
.block-item {
  margin-top: 32px;
  width: 350px;
  display: inline-block;
}
.block-item-icon {
  width: 70px;
  height: 70px;
  border: 1px solid #d98943;
  border-radius: 90px;
  display: flex;
  text-align: center;

  align-items: center;
  justify-content: center;
  margin: 0 auto 30px auto;
}

.block-item-title {
  font-size: 29px;
  margin-bottom: 16px;
  text-align: center;
}
.block-item-text {
  width: 330px;
  color: #000000;
  text-align: center;
}
